*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg,#0a0a0a,#3a4452) ;
} 
.calulator{
    border: 1px solid #717371;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 13px 13px 8px rgba(63, 4, 63, 0.733);

}
input{
    width: 100%;
    border:10cap;
    padding: 15px;
    margin: 0px;
    background: linear-gradient(50deg,rgb(24, 24, 59),rgb(29, 29, 32));
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
}
input::placeholder{
  color:beige;
}
 button{
    height: 50px;
    width: 50px;
    font: 1em sans-serif;
    margin: 8px;
    background: linear-gradient(50deg,rgb(5, 5, 114),rgb(29, 29, 32));
    color: aqua;
    border-radius:30px;
    box-shadow: 10px 10px 15px rgba(63, 4, 63, 0.733);
 }
  